.FolderPickerCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: calc(100vh - 200px);
  }
   .optionContainer .option{
    text-transform: capitalize;
   }
  .folderCont {
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 300px;
    max-width: 80vw;
    background-color: #4070F4;
    border-radius: 12px;
    color: white;
  } 
   a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
   
  .folderCont:hover {
    background-color: #1a49cc;
  }

  @media (max-height: 865px) {
    .FolderPickerCont{
      gap: 10px;
      font-size: 14px;
    }
    
  }

  @media (max-height: 750px) {
    .FolderPickerCont{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
  }
  @media (max-height: 660px) {
    .FolderPickerCont{
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }